.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 45vh;
  background: linear-gradient(
      180deg,
      #ffffff 0%,
      #ffffff 0%,
      transparent 15%,
      transparent 100%
    ),
    url("/bottom_bg_mobile.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed;
    background-blend-mode: overlay; */
  position: relative;

}

.content_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8%;
  width: 100%;
}

.logos_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  max-width: 625px;
}

.nmx_logo_container {
  position: relative;
  width: 100%;
  aspect-ratio: 7.23;
}

.vet_claim_container {
  position: relative;
  width: 55%;
  aspect-ratio: 5.465;
}

.section p {
  color: var(--text);
  font-weight: 400;
  text-align: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.75rem 0;
}

@media (min-width: 500px) {
  .logos_container {
    padding: 5% 1rem 1% 1rem;
  }
}

@media (min-width: 768px) {
  .section {
    background-image: linear-gradient(
        135deg,
        #ffffff 0%,
        #ffffff 25%,
        transparent 55%,
        transparent 100%
      ),
      url("/bottom_bg_desktop.webp");
    height: 60vh;
    justify-content: center;
    align-items: flex-start;
  }

  .content_container {
    width: 45%;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    padding: 0;
  }

  .section p {
    /* top: 95%; */
    padding: 1rem 0 1.5rem 0;
  }
}

@media (min-width: 1024px) {
  .section {
    background-image: linear-gradient(
        135deg,
        #ffffff 0%,
        #ffffff 20%,
        transparent 55%,
        transparent 100%
      ),
      url("/bottom_bg_desktop_2.webp");
    height: 60vh;
    background-position: bottom 0 left 65%;
  }
}
