.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  width: 100%;
}

.content_section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1% 8% 8%;
  width: 100%;
  max-width: 1440px;
}

.content_section {
  max-width: 615px;
  padding: 0;
  margin: 0;
}

.content_section h1 {
  text-align: center;
  max-width: 600px;
}

.content_section h3 {
  margin: 3% 0 0 0;
}

.content_bullet_list {
  padding: 3% 0 3% 6%;
}

.exclusive {
  /* text-align: center;
  margin: 0 auto; */
  width: 100%;
  max-width: 400px;
  height: 50px;
  margin: 0;
  padding: 0.75rem 2rem;
}

.mobile_product_outer_section,
.desktop_product_outer_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-height: 375px;
  max-width: 550px;
}

.mobile_product_section,
.desktop_product_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
  /* background: linear-gradient(#bdbfbf78, #ffffff); */
  width: 100%;
  /* max-width: 550px; */
  max-height: 300px;
  position: relative;
}

.desktop_product_outer_section {
  display: none;
}

.mobile_product_img_container,
.desktop_product_img_container {
  min-width: 300px;
  position: relative;
  aspect-ratio: 0.834;
  width: 100%;
  max-width: 350px;
}

.mobile_product_img_container img,
.desktop_product_img_container img {
  position: absolute;
  width: 90% !important;
  top: 10% !important;
  left: 12.5% !important;
}

.mobile_product_logo_container,
.desktop_product_logo_container {
  min-width: 200px;
  position: relative;
  aspect-ratio: 6.773;
  width: 90%;
  max-width: 375px;
}

.exclusive {
  font-weight: 700;
}

.mobile_product_outer_section p,
.desktop_product_outer_section p {
  font-family: "Roboto Condensed", sans-serif;
  max-width: 335px;
  font-weight: 300;
  margin: 5% 0;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #535559;
}

.shopping_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  color: var(--text);
}

.count_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 355px;
  padding: 0.5rem 0;
  position: relative;
}

.select_wrapper {
  flex: 1;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 0.25rem 2.5rem 0.25rem 1rem;
  font-weight: 700;
  font-size: 1rem;
  border: 1px solid var(--text);
  color: var(--text);
  text-align: center;
}

.caret_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caret_icon svg {
  width: 12px;
  height: 12px;
  fill: var(--text);
}

@media (min-width: 768px) {
  .content_section_container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 10% 5% 5% 5%;
  }

  .mobile_product_img_container img,
  .desktop_product_img_container img {
    position: absolute;
    width: 100% !important;
    top: 5% !important;
    left: 5% !important;
  }

  .content_section h1 {
    text-align: start;
  }

  .desktop_product_section {
    width: 90%;
  }

  .content_section {
    padding: 0 2%;
    margin: 0;
  }

  .content_bullet_list {
    padding: 1% 0 3% 3%;
  }

  .mobile_product_outer_section {
    display: none;
  }

  .desktop_product_outer_section {
    display: flex;
  }

  .desktop_product_img_container {
    max-width: 480px;
  }

  .shopping_container {
    align-items: flex-start;
  }
}

@media (min-width: 1023px) {
  .content_section_container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 5% 0 3% 0;
  }
}
