/* section,
div[class*="_container"] {
  box-sizing: border-box;
} */

.footer_container {
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(#54565a, #6c6d72);
  color: #fff;
  padding: 1rem 0;
  /* max-width: 1440px; */
}

.logo_container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}

.logo_container a {
  width: 80%;
  max-width: 300px;
}

.category_container a,
.contact_container a,
.about_container a,
.vet_container a {
  padding: 0.75rem 0;
}

.logo_container img {
  width: 100%;
  height: auto;
}

.top_section {
  display: flex;
  gap: 1.5rem;
}

.top_section a {
  text-decoration: underline !important;
}

.logo_container,
.top_section,
.bottom_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 2%;
  border-bottom: 1px solid #ececec;
}

.bottom_section {
  border-bottom: none;
  padding: 0 2%;
}

.supplements_container h3,
.contact_container h3,
.about_container h3,
.vet_container h3 {
  color: var(--white);
  font-size: 1.1rem;
  margin: 0.75rem 0 .25rem 0;
}

.supplements_container,
.contact_container,
.about_vet_container {
  margin: 0;
}

.category_container,
.about_container,
.vet_container,
.contact_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

/* h3 {
  font-size: 1.1rem;
  margin: 0.75rem 0 .25rem 0;
} */

.supplements_container a,
.about_vet_container a,
.contact_container a {
  text-decoration: underline;
  margin: 0.5rem 0;
  display: inline-block;
  font-size: 0.875rem;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.supplements_container a:hover,
.about_vet_container a:hover,
.contact_container a:hover {
  opacity: 0.5;
}

.social_and_terms_container {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  /* padding: 2rem 0; */
}

.social_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  color: var(--white);
  text-decoration: none;
}

.social_link img {
  width: 36px;
  height: 36px;
  margin-bottom: 0.25rem;
}

.terms_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms_container a {
  font-size: 0.75rem;
  margin: 0.5rem 0;
  padding: 0;
}

.disclaimer_container {
  padding: 1rem 0;
  align-self: flex-start;
  text-align: center;
  width: 100%;
}

.disclaimer_container p {
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin: 0.25rem 0;
  font-size: 1rem;
  line-height: 1.25rem;
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  .category_container,
  .about_container,
  .vet_container,
  .contact_container {
    margin-top: 0;
  }

  .social_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    /* padding: 2rem 0; */
  }

  .terms_container {
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
  }

  .disclaimer_container {
    text-align: start;
  }

  .disclaimer_container p {
    padding: 0;
  }
}

@media screen and (min-width: 992px) {
  .top_section {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 2%;
    margin: 0;
  }

  .about_vet_container {
    display: flex;
    flex-direction: row;
  }

  .category_container,
  .about_container,
  .vet_container,
  .contact_container {
    align-items: flex-start;
  }

  .footer_container {
    padding: 2rem 0;
  }

  .supplements_container,
  .contact_container,
  .about_vet_container {
    align-items: flex-start;
    max-width: 350px;
  }
}

@media screen and (min-width: 992px) {
  .social_and_terms_container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* padding: 2rem 0; */
  }

  .social_link img {
    width: 42px;
    height: 42px;
  }
}
