.header_container {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 50px;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-size: 0.95rem;
  overflow: hidden;
}

.header_container a {
  background-color: transparent;
  color: var(--text);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.left,
.right {
  display: flex;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
  margin-right: 1%;
}

.nav_item {
  margin: 0 2%;
  padding: 0;
  font-weight: 600;
  color: var(--text);
}

.nav_item:hover {
  background: none;
  color: var(--gray);
}

.nav_item:active {
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
  color: var(--gray);
}

.nav_logo_link {
  min-width: 120px;
  height: auto;
}

.for_vets_button::after {
  margin: 0 0 0 0.3rem;
  font-family: "Material Symbols Rounded";
  font-size: 1.065rem;
  font-weight: 400;
  content: "\e89e";
}

@media (min-width: 1023px) {
  .header_container {
    display: flex;
  }
}
