.hero_section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 75vh;
  background-image: url("/hero_bg_mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 3%;
  /* background-attachment: fixed;
  background-blend-mode: overlay; */
}

.hero_content_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  margin: 5% auto;
}

.hero_content_container h1 {
  color: #3a3939;
  font-size: clamp(26px, 3.5vw, 40px);
  line-height: clamp(33px, 3.75vw, 44px);
  max-width: 600px;
  padding: 0 13%;
}

.hero_content_container p {
  font-weight: 300;
  color: #3a3939;
  font-size: clamp(1.15rem, 1.85vw, 1.15rem);
  line-height: clamp(1.75rem, 2vw, 1.55rem);
  margin: 5% auto;
  padding: 0 13%;
  max-width: 665px;
}

.hero_content_container .exclusive {
  font-weight: 700;
}

.logo_container {
  min-width: 200px;
  position: relative;
  aspect-ratio: 6.773;
  width: 90%;
  max-width: 375px;
  margin-bottom: 3%;
}

.dog_img_container {
  position: relative;
  width: 100%;
  aspect-ratio: 1.2537;
  max-width: 585px;
}

.shop-primary {
  display: none;
  background: var(--white);
}

@media (min-width: 480px) {
  .hero_section {
    height: 95vh;
  }

  .hero_content_container {
    margin: 2% auto;
  }

  .hero_content_container p {
    margin: 2% auto;
  }
    .shop-primary {
    display: flex;
  }
}

@media (min-width: 768px) {
  .hero_section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-image: url("/hero_bg_desktop.svg");
    padding: 2% 2% 0 2%;
  }

  .hero_content_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    margin: 0 0 3% 0;
    padding: 0 3%;
  }

  .hero_content_container h1 {
    margin: 0;
    padding: 0;
  }

  .hero_content_container p {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .hero_section {
    height: 60vh;
  }

  .hero_content_container {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    margin: 2% 0;
  }

  .hero_content_container h1 {
    max-width: 545px;
  }

  .hero_content_container p {
    max-width: 545px;
    margin: 3% 0;
  }
}
