.overlay {
  position: fixed;
  font-family: "Roboto Condensed", sans-serif;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}
.modal {
  background: white;
  width: 95%;
  max-width: 480px;
  border-radius: 10px;
  padding: 1rem;
  overflow-y: auto;
  max-height: 90vh;
}
.modal p {
  font-weight: 300;
  color: #3a3939;
  font-size: clamp(1.15rem, 1.85vw, 1.15rem);
  line-height: clamp(1.75rem, 2vw, 1.55rem);
  max-width: 665px;
  margin: 3% 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back_button,
.close_button {
  font-family: "Roboto Condensed", sans-serif;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.title {
  text-align: center;
  flex: 1;
}
.arrow_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow_icon svg {
  width: 30px;
  height: 30px;
  fill: var(--text);
}
.logo_container {
  width: 100%;
  max-width: 200px;
  aspect-ratio: 2.25;
  position: relative;
}
.product_section {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.product_info {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
}
.product_image_container {
  width: 155px;
  height: 155px;
  position: relative;
}
.vendor_list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.vendor_item {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.vendor_button {
  background: #0078d7;
  color: white;
  text-decoration: none;
  padding: 0.8rem 1.8rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
}
