.section {
  width: 100%;
  background-color: white;
}

.contentWrapper {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1000px;
  min-height: 575px;
  margin: 0 auto;
  padding: 0 1rem;
  color: var(--text);
}

.container h1 {
  font-size: clamp(26px, 3vw, 30px);
  line-height: clamp(32px, 3vw, 3px);
  padding: 2% 12% 8%;
}

.card {
  overflow: hidden;
  width: 100%;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid var(--text);
  padding: 0 2%;
}

.tabButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  flex: 1;
  cursor: pointer;
}

.activeTab {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--text);
  color: white;
  height: 50px;
  border: 1px solid var(--font-color);
  border-bottom: none;
}

.inactiveTab {
  font-family: "Roboto Condensed", sans-serif;
  background-color: white;
  color: var(--text);
  height: 40px;
  border: 1px solid var(--yellow);
  border-bottom: none;
}

.content {
  padding: 1.5rem 0;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0.5rem;
}

.table th {
  font-weight: 500;
}

.table th,
.table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e5e7eb;
  text-align: center;
}

.table td {
  color: #535559;
}

.table thead tr {
  background-color: var(--text);
  color: white;
}

.italicText {
  font-size: 0.875rem;
  color: #4b5563;
}

.ingredients_container {
  margin: 1rem 0;
}

.ingredients_container div {
  margin: 1rem 0;
}

.heading {
  font-weight: 700;
  margin: 0;
  color: var(--font-color);
}

.paragraph {
  color: #374151;
  margin: 0.25rem 0;
  font-weight: 300;
}

.boldParagraph {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

@media (min-width: 640px) {
  .container {
    min-height: 500px;
  }

  .tabButton {
    flex: none;
    min-width: 200px;
  }
}
