.section {
  width: 100%;
  background-color: white;
  /* padding-top: 3rem;
  padding-bottom: 3rem; */
}

.container {
  max-width: 1000px;
  min-height: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

.card {
  overflow: hidden;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid black;
  padding: 0 2%;
}

.tabButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  flex: 1;
}

.activeTab {
  background-color: black;
  color: white;
  height: 50px;
  border: 1px solid var(--font-color);
  border-bottom: none;
}

.inactiveTab {
  background-color: white;
  color: black;
  height: 40px;
  border: 1px solid var(--font-color);
  border-bottom: none;
}

.content {
  padding: 1.5rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;
}

.table th {
  font-weight: 500;
}

.table th,
.table td {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0.5rem 1rem;
  border: 1px solid #e5e7eb;
  text-align: center;
}

.table td {
  color: #535559;
}

.table thead tr {
  background-color: black;
  color: white;
}

.italicText {
  font-size: 0.875rem;
  color: #4b5563;
}

.ingredients_container {
  margin: 1rem 0;
}

.ingredients_container div {
  margin: 1rem 0;
}

.heading {
  font-weight: 700;
  margin: 0;
  color: var(--font-color);
}

.paragraph {
  color: #374151;
  margin: 0.25rem 0;
  font-weight: 300;
}

.boldParagraph {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

@media (min-width: 640px) {
  .container {
    min-height: 500px;
  }

  .tabButton {
    flex: none;
    min-width: 200px;
  }
}
