.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.header_logo_container {
  display: flex;
  position: relative;
  min-height: 30px;
  width: 100%;
}

.header_logo_container img {
  position: relative;
  padding: 0.2rem;
}

.main {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.footer_logo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 2%;
  border-bottom: 1px solid #ececec;
  position: relative;
  aspect-ratio: 4.5;
}

.footer_logo_container a {
  width: 80%;
  max-width: 300px;
}

.footer_logo_container img {
  position: relative;
  width: 100%;
  height: auto;
}
